# Compiled class files
*.class

# Log files
*.log

# Maven
target/

# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Ignore local environment variables
.env
src/main/resources/docs/devcenter-content-snapshot.2024-05-20.json
